/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v27-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/roboto-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/roboto-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/roboto-v27-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  
  /* roboto-condensed-regular - latin */
  @font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-condensed-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/roboto-condensed-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/roboto-condensed-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/roboto-condensed-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/roboto-condensed-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/roboto-condensed-v19-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
  }

body, p, a {
    font-family: Roboto, sans-serif;
}

body,
#app {
    overflow: hidden;
}

section.content {
    overflow-x: hidden;
    overflow-y: auto;
}

#app.desktop section.content {
    height: calc(100vh - 7.0rem);
    margin: 5.3rem 0 0 0;
    padding: 4rem 2rem 0.5rem;
}

#app.desktop section.content.contributionmap.noFooterCreateButton {
    overflow-y: auto;
}

#app.mobile section.content {
    height: calc((var(--vh, 1vh) * 100) - 150px);
    margin: 50px 0 0;
    padding: 20px 16px 10px 18px;
}

#app.mobile section.content.noFooterCreateButton {
    height: calc((var(--vh, 1vh) * 100) - 100px);
}
.dipas-primary {
    color: #ffffff;
    background-color: #E10019;
}
.btn.dipas-primary:hover {
    color: #ffffff;
}
.dipas-primary :focus {
    color: #ffffff;
}
.dipas-secondary{
    color: #000000;
    background-color: #E3E3E3;
}
body {
    color: #000000;
}
h2 {
    color: #003063;
}


*:focus:not(:focus-visible) {
    outline: none
}

*:focus-visible {
    outline: 3px solid #005CA9;
}
